*       { margin: 0; padding: 0; border: 0 }
body    { font-size: 62.5%; font-family: Optima, Verdana, sans-serif }
a       { color: #004FDF; text-decoration: none }
a:hover { text-decoration: underline }

#wrap { 
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  min-height: 500px;
}

#logo       { 
  float: left;
  font-size: 20px;
  padding: 3px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  margin-right: 20px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#logo .faded { color: #999 }

h1    { size: 2em; font-weight: bold; margin-bottom: 2em }
h2    { size: 1.8em; font-weight: bold; margin: 0.5em 0 }
p, ul { font-size: 1.3em }
p     { margin: 0.4em 0 }
ul    { list-style-type: disc; line-height: 1.6em; }
li    { margin-left: 16px }
code  { display: block; font-size: 1.6em; margin: 1.5em 0 }

form,
input { font-size: 1.3em } 

form    { width: 60%; margin: 1em 0 }
label   { display: block; font-weight: bold }
input   {
  padding: 3px;
  width: 25em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  margin-bottom: 0.5em;
}

.buttons button {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 0.8em;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
}
.buttons button                 { width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */ }
.buttons button[type]           { padding:5px 10px 5px 7px; /* Firefox */ line-height: 17px; /* Safari */ }
*:first-child+html button[type] { padding:4px 10px 3px 7px; /* IE7 */ }
.clear                          { clear: both }
