*     { margin: 0; padding: 0; border: 0 }
body  { font-size: 62.5%; font-family: Optima, Verdana, sans-serif }
#wrap { 
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  min-height: 500px;
}
h1    { size: 2em; font-weight: bold; margin-bottom: 2em }
p, ul { font-size: 1.3em }
p     { margin: 3px 0 }
ul    { list-style-type: disc }
li    { margin-left: 16px }

form,
input { font-size: 1.3em } 

form    { width: 60%; margin: 2em 0 }
label   { display: block; font-weight: bold }
input   {
  padding: 3px;
  width: 25em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  margin-bottom: 0.5em;
}

.buttons button {
  display: block;
  float: left;
  margin: 0 7px 0 0;
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  font-size: 0.8em;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
}
.buttons button { width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */ }
.buttons button[type] { padding:5px 10px 5px 7px; /* Firefox */ line-height: 17px; /* Safari */ }
*:first-child+html button[type] { padding:4px 10px 3px 7px; /* IE7 */ }