/* ensure it won't inherit crap */
.yummi-results, .yummi-results > * { margin: 0; padding: 0; border: 0 }    
.yummi-results          {
  position: absolute;
  display: none;
  width: 16em; 
  border: 1px solid #999; 
  background-color: #000;
  opacity: 0.85;
  font-size: 14px;
}
.yummi-results > div        { display: block; padding: 3px; color: #fff }
.yummi-results .no_results  { font-style: italic }
.yummi-results .focused     { font-weight: bold; opacity: 1 }
